body { 
			background: white; 
			font-size: 10pt; 
			font-family: "Times New Roman"; 
			margin: 0px;
			padding: 0px;
			border: 0px;
	}

	h1 { 
		text-align:left; 
		font-size:36pt; 
		text-decoration:none; 
		line-height:1em; 
		margin: 0px;
		padding: 0px;
		border: 0px;
	}
	
	h2 { 
		text-align:left; 
		font-size:18pt; 
		text-decoration:none; 
		line-height:1em; 
		margin: 0px;
		padding: 0px;
		border: 0px;
	}
		
	h3 { 
		text-align:left; 
		font-size:12pt; 
		text-decoration:none; 
		line-height:1em; 
		margin: 0px;
		padding: 0px;
		border: 0px;
	}
	
	h4 { 
		text-align:left; 
		font-size:10pt; 
		text-decoration:none; 
		line-height:1em; 
		margin: 0px;
		padding: 0px;
		border: 0px;
	}
	links{ 
				display:none; 
	}
	img { display: none; }